@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1 {
    font-family: sans-serif;
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --primary-text-color: #975132;
    --secondary-text-color: #737474;
    --primary-bg-color: #d4d5d7;
    --bg-secondary: #f1f1f1;
    ;
}

.primary-btn {
    min-width: 150px;
    width: 170px;
    max-width: 200px;
    font-size: 1.2rem;
    text-align: center;
    color: var(--white-color);
    background: var(--primary-text-color);
    font-weight: 600;
    padding: 0.6rem 1rem;
    border-top-right-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    margin-top: 0.4rem;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.primary-btn:hover {
    background: var(--black-color);
}

/* ================
          HEADER START
        ================ */

/* Top Banner */

.top-banner {
    background: var(--primary-bg-color);
    padding: 0.8rem;
}

.left-banner{
    width: 30%;
}
.right-banner{
    width: 70%;
}

.left-banner img {
    width: 18rem;
}

.fa-envelope {
    font-size: 2.3rem !important;
    margin-right: 0.3rem;
}

.mail-section p {
    margin-bottom: -0.3rem !important;
}

.mail-section a {
    color: var(--black-color);
    font-weight: 600;
}

.mail-section a:hover {
    text-decoration: underline;
}

.social-media-section i {
    font-size: 1.1rem;
    margin-left: 0.4rem;
    border: 1px solid var(--black-color);
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    -webkit-transition: all 0.9s;
    transition: all 0.3s;
}

.social-media-section i:hover {
    transform: rotate(360deg);
}

/* Navbar */

.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus{
    border: none;
    box-shadow: none;
}

.nav-phone-number {
    text-align: center !important;
    width: 16%;
    background: var(--primary-text-color);
    padding: 0.5rem 1.3rem;
    position: relative;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.nav-phone-number img {
    background: var(--primary-text-color);
    position: absolute;
    left: -1.5rem;
    top: 0.2rem;
    font-size: 1.3rem;
    border: 6px solid var(--white-color);
    border-radius: 0.5rem;
    cursor: pointer;
}

.nav-phone-number a {
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 600;
}

.nav-phone-number:hover .nav-phone-number img {
    transform: translateX(1.3rem) !important;
}

.nav-item a {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--primary-text-color);
    margin-left: 1.2rem;
}

.nav-item a:focus {
    color: var(--black-color);
}

.dropdown-menu {
    width: 13rem !important;
    background: var(--primary-text-color);
    padding: 0;
}

.dropdown-menu a {
    border-bottom: 1px solid rgb(192, 97, 8);
    font-size: 1rem;
    margin: 0;
    color: var(--white-color);

}

.dropdown-menu a:hover {
    color: var(--black-color) !important;
}

/* ================
       HEADER END
    ================ */


/* ================
       MAIN START
     ================ */

/* Welcome Section */

.welcome-section {
    padding-block: 2.5rem;
    background: url(../images/img20.jpeg) no-repeat center;
    background-position: cover;
}

.welcome-section h2 {
    color: var(--secondary-text-color);
}

.welcome-section h1 {
    font-weight: 600;
}

.welcome-section p {
    text-align: justify;
}

/* Vision & Mission */

.vision-mission {
    background: var(--bg-secondary);
    padding-block: 6rem;
    padding-inline: 10rem;
}

.vision-mission h3 {
    font-size: 1.3rem;
    font-weight: 700;
    color: rgb(169, 30, 30);
    margin-top: 0.4rem;
}

.vision-box,
.mission-box {
    background: var(--white-color);
    padding-block: 4rem;
    padding-inline: 2rem;
    text-align: center;
    border: 1px solid var(--primary-bg-color);
}

.vision-box a,
.mission-box a {
    font-size: 0.9rem;
}

/* Product Section */

/* Coal */

.product-section>h2 {
    padding-top: 2.5rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
}

.coal img,
.construction img,
.steel img,
.cement img,
.electronics img,
.textile img,
.leather img {
    padding: 0.2rem;
    border: 1px solid var(--secondary-text-color);
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.coal h3,
.construction h3,
.steel h3,
.cement h3,
.electronics h3,
.textile h3,
.leather h3 {
    font-size: 1.7rem;
    font-weight: 600;
}

.coal p,
.construction p,
.steel p,
.cement p,
.electronics p,
.textile p,
.leather p {
    text-align: justify;
}

/* Construction */


.construction,
.steel,
.cement,
.electronics,
.textile,
.leather,
.contact-us {
    margin-top: 3rem;
}

/* Contact Us */

.contact-us form input,
.contact-us textarea {
    width: 100%;
    margin-top: 0.7rem;
    padding: 0.5rem;
    border: 1px solid var(--black-color);
    border-top-right-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
}

.contact-us form button {
    font-weight: 500;
    padding: 0.6rem 1.2rem;
    border: none;
    border-top-right-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    background: var(--white-color);
    margin-top: 0.3rem;
    margin-left: 0.4rem;
    transition: all 0.3s;
}

.contact-us .submit {
    color: var(--white-color);
    background-color: var(--black-color);
}

.contact-us .reset {
    border: 1px solid var(--black-color);
}

.contact-us .reset:hover {
    transform: scale(1.03);
}

/* ================
          MAIN END
        ================ */

/* ================
      FOOTER START
    ================ */

/* Footer */

footer {
    margin-top: 3rem;
    padding: 3rem 6rem;
    background: var(--primary-bg-color);
}

footer ul li:first-child {
    font-weight: 600;
    margin-bottom: 0.9rem;
}

footer ul li {
    margin-bottom: 0.3rem;
    font-size: 1rem;
    font-weight: 300;
    transition: all 0.3s;
    cursor: pointer;
}

footer ul li .fa-solid {
    font-size: 1.2rem;
    margin-right: 0.2rem;
}

footer ul li .fa-envelope {
    font-size: 1.3rem !important;
    margin-right: 0.2rem;
}

footer ul li a {
    color: var(--black-color);
    font-weight: 400;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer ul li:hover {
    transform: translateX(5px);
}

footer ul:nth-child(1) li:first-child:hover {
    transform: none;
}

footer>div>div>div:nth-child(3) ul li{
    transform: none;
}

footer ul li img{
    width: 90%;
}

footer>div>div>div:nth-child(4) p{
    text-align: center;
    margin-top: 0.4rem;
}

footer a img{
    position: fixed;
    z-index: 9;
    bottom: -20px;
    right: 20px;
    transition: all 0.3s;
}

footer a img:hover{
    bottom: -5px;
}

/* ================
       HEADER END
     ================ */